{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Blog List{% endblock %}
{% block blog_active %}active{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">{% block blog_list_title %}博客列表(当前共有博客<span style="color: crimson">{{ blogs|length }}</span>篇){% endblock %}</div>
                    {% for blog in blogs %}
                        <div class="blog">
                            <h3><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
                            <p class="blog_info">
                                <span class="glyphicon glyphicon-tags"></span> <a href="{% url 'blog_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>
                                <spam class="glyphicon glyphicon-time"></spam>{{ blog.created_time|date:"Y-m-d"}}
                            </p>
                            <p>{{ blog.content|truncatechars:122 }}</p>
                        </div>
                    {% empty %}
                        <div class="blog">
                            <p>暂无博客，敬请期待</p>
                        </div>
                    {% endfor %}
                </div>
            </div>


            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul class="div_ul">
                            {% for blog_type in blog_types %}
                                <li><a href="{% url 'blog_with_type' blog_type.pk %}">{{ blog_type.type_name }}</a>
                                </li>
                            {% empty %}
                                <li>暂时没有</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}