{% extends 'base.html' %}
{% block title %}{{ blog.title }}{% endblock %}
{% block blog_active %}active{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>{{ blog.title }}</h3></div>
                    <ul class="blog_info_description">
                        <li><span class="glyphicon glyphicon-user"></span>作者：{{ blog.author }}</li>
                        <li><span class="glyphicon glyphicon-tags"></span>分类: <a
                                href="{% url 'blog_with_type' blog.blog_type.pk %}">
                            {{ blog.blog_type }}
                        </a></li>
                        <li><span class="glyphicon glyphicon-time"></span>时间：{{ blog.created_time }}</li>
                    </ul>
                    <div class="blog_content">{{ blog.content|safe }}</div>
                </div>
                <div class="more_blog">
                    {% if previous_blog %}
                    <p>上一篇:<a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog.title }}</a></p>
                    {% else %}
                    <P>上一篇：暂无</P>
                    {% endif %}

                    {% if next_blog %}
                    <p>下一篇:<a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a></p>
                    {% else %}
                    <P>下一篇：暂无</P>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
